<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>squad</title>


</head>


<body>



	<div th:each="squadlista : ${Squad}">


		<table border="1px">

			<tr>

				<td>
					<div>
						ID Squad:<span th:text="${squadlista.id_squad}"> </span>
					</div>
					<div>
						Nome Squad:<span th:text="${squadlista.nome_squad}"> </span>
					</div>
					<div>
						Descrição Squad:<span th:text="${squadlista.descricao_squad}">
						</span>
					</div> <br>
				</td>
				<td>
				<a th:href="@{deletar/{id}(id=${squadlista.id_squad})}"><button>Excluir</button></a>
				</td>
			</tr>
		</table>
	</div>


</body>


</html>