<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Alterar Cargo</title>


</head>


<body>

	<h1>Alterar Cargo</h1>

	<form action="../novocargo" th:object="${Cargo}" method="post">

		
		
		<input type="hidden" id="id_cargo" name="id_cargo"  value= "" th:value=${Cargo.id_cargo}><br>
		

		<label for="nome_cargo">Nome Cargo:</label> 
		<input type="text" id="nome_cargo" name="nome_cargo"  value= "" th:value=${Cargo.nome_cargo}><br>

		<label for="tipo_cargo">Tipo do Cargo:</label> <input type="text"
			id="tipo_cargo" name="tipo_cargo" th:value=${Cargo.tipo_cargo}><br>

		<label for="nivel_cargo">Nivel do Cargo:</label> <input type="text"
			id="nivel_cargo" name="nivel_cargo" th:value=${Cargo.nivel_cargo}><br>

		<label for="step_cargo">Step do Cargo:</label> <input type="text"
			id="step_cargo" name="step_cargo" th:value=${Cargo.step_cargo}><br>

		<label for="valor_hora">Valor da Hora:</label> <input type="text"
			id="valor_hora" name="valor_hora" th:value=${Cargo.valor_hora}><br>

		<div>
			Faturamento: R$ <span th:text="${Cargo.faturamento_cargo}"></span>
		</div>
		<br> <input type="submit" value="Salvar">

	</form>

	<br>











</body>


</html>