<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Alterar Funcionario</title>


</head>


<body>





	<h1>Alterar Funcionario</h1>
	

	<form action="../funcionarios/novofuncionario" method="post" th:object="${funcionario}">


		<input type="hidden" id="id_funcionario" name="id_funcionario" value= "" th:value="${funcionario.id_funcionario}"><br> 
		<label for="nome">Nome Funcionario:</label> 
		<input type="text" id="nome" name="nome" value= "" th:value="${funcionario.nome_funcionario}"><br> 
		<label for="termo_nomeacao">Termo de Nomeação:</label> 
		<input type="text" id="termo_nomeacao" name="termo_nomeacao" value="" th:value="${funcionario.termo_nomeacao}" ><br> 
		<label for="observacoes">Observações</label>
		<input type="text" id="observacoes" name="observacoes" value="" th:value="${funcionario.observacoes}"><br>
		 <label for="posicao">Posição: </label> 
		<input type="text" id="posicao"	name="posicao" value="" th:value="${funcionario.posicao}"><br>
		<label for="cargo_nome">Cargo Id: </label> 
		<input type="text" id="cargo_nome"	name="cargo_nome" value="" th:value="${funcionario.cargo.id_cargo}"><br>
		
		<label for="empresa_nome">Empresa Id: </label> 
		<input type="text" id="empresa_nome"	name="empresa_nome"  th:value="${funcionario.empresa.id_empresa}" ><br>
		<label for="squad_nome">Squad Id: </label> 
		<input type="text" id="squad_nome"	name="squad_nome"  th:value="${funcionario?.squad?.id_squad}" ><br>

			
			<input	type="submit" value="Salvar">

	</form>

	<br>



</body>


</html>