<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Alterar Funcionario</title>


</head>


<body>

	<h1>Alterar Funcionario</h1>

	<form action="/funcionarios/novofuncionario" method="post">


		
		<input type="hidden" id="id_funcionario" name="id_funcionario" th:value="${funcionario.id_funcionario}"><br> 
		<label for="nome">Nome Funcionario:</label> 
		<input type="text" id="nome" name="nome" th:value="${funcionario.nome_funcionario}"><br> 
		<label for="termo_nomeacao">Termo de Nomeação:</label> 
		<input type="text" id="termo_nomeacao" name="termo_nomeacao" th:value="${funcionario.termo_nomeacao}"><br> 
		<label for="observacoes">Observações</label>
		<input type="text" id="observacoes" name="observacoes" th:value="${funcionario.observacoes}"><br>
		
		<label for="posicao">Posição: </label> 
		<input type="text" id="posicao"	name="posicao" th:value="${funcionario.posicao}"><br>
	
			
		<label for="cargo">Cargo: </label>
		  <select name="cargo" >
		  <option name="cargo" th:value="${funcionario.cargo.id_cargo}"  th:text="${funcionario.cargo.nome_cargo}" /></option>
		  <option name="cargo" th:each="cargolista : ${Cargo}" th:value="${cargolista.id_cargo}" th:text="${cargolista.nome_cargo}" /></option>
		</select>
		<br>
		
		<label for="nivel_cargo">Nível Cargo: </label> 
		<input type="text" id="nivel_cargo"	name="nivel_cargo" th:value="${funcionario.cargo.nivel_cargo}"><br>
		
		
		
		<label for="tipofuncionario">Tipo Funcionario: </label>
		  <select name="tipofuncionario" >
		   <option name="tipofuncionario" th:value="${funcionario.TipoFuncionario.id_tipo_funcionario}"  th:text="${funcionario.TipoFuncionario.tipo_funcionario_nome}" /></option>
		  <option name="tipofuncionario" th:each="tipofuncionarioLista : ${TipoFuncionario}" th:value="${tipofuncionarioLista.id_tipo_funcionario}" th:text="${tipofuncionarioLista.tipo_funcionario_nome}" /></option>
		</select>
		<br>
		
		
		
		<label for="empresa">Empresa: </label>
				 		 
		 <select name="empresa" >
		  <option name="empresa" th:value="${funcionario.empresa.id_empresa}" th:text="${funcionario.empresa.nome_empresa}"  /></option>
		  <option name="empresa" th:each="empresalista : ${Empresa}" th:value="${empresalista.id_empresa}" th:text="${empresalista.nome_empresa}"  /></option>
		</select>
		<br>
		

	<label for="empresa">Squad: </label>
	
		 <select name="squad" >
		 	
		 <option name="squad" th:value="${funcionario?.squad?.id_squad}" th:text="${funcionario?.squad?.nome_squad}"  /></option>
		  <option name="squad" th:each="squadlista : ${Squad}" th:value="${squadlista.id_squad}" th:text="${squadlista.nome_squad}"  /></option>
			<option name="squad" value="0"  /></option>
		
		</select>
	
	<br>
			<input	type="submit" value="Cadastrar">


	</form>

		





</body>


</html>