html, body {

    height: 100%;
}

body{
background: rgb(2,0,36);
background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
font-family: Arial, Helvetica, sans-serif;
margin: 0;
padding: 0;

color: white;

}

button{ 

    background-color: rgb(66, 163, 36);
    color: white;
    padding: 0 45px;
    border: 2px solid white;
    border-radius:  25px;
    height: 50px;
    transition: 0.4s;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2em;

}

button:hover {

    background-color: crimson;

}