<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>


<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../static/css/reset.css"
	th:href="@{/css/reset.css}">
<link rel="stylesheet" href="../static/css/index.css"
	th:href="@{/css/index.css}">

<title>Home</title>


</head>


<body>


	<header> </header>


	<nav>


		<a class="itensnav" href="/funcionarios/listarFuncionario">Funcionarios</a>

		<a class="itensnav" href="/squad/listarsquad">Squads</a> <a
			class="itensnav" href="/empresa/listarempresa">Empresas</a> <a
			class="itensnav" href="/cargo/listarcargo">Cargos</a>



	</nav>


<main class="main">

	<h1>Lista de Funcionários</h1>


	<div class="tabelalistagem " >



	


		<table class="listagem" th:each="funcionarioslista : ${Funcionario}">
			<tr>
				<th class="cabecalholistagem">Funcionario</th>
				<th class="cabecalholistagem">Termo de Nomeação</th>
				<th class="cabecalholistagem">Observações</th>
				<th class="cabecalholistagem">Posição</th>
				<th class="cabecalholistagem">Tipo de Funcionario</th>
				<th class="cabecalholistagem">Cargo</th>
				<th class="cabecalholistagem">squad</th>
				<th class="cabecalholistagem">Nivel do Cargo</th>
				<th class="cabecalholistagem">Nivel Cargo</th>
				<th class="cabecalholistagem">Empresa</th>
				<th class="cabecalholistagem">Valor da Hora</th>
				<th class="cabecalholistagem">Faturamento</th>
				
			</tr>
			<tr>
				<td class="cabecalhoresultado"><span th:text="${funcionarioslista.nome_funcionario}">
				</span></td>
				<td class="cabecalhoresultado"><span th:text="${funcionarioslista.termo_nomeacao}">
				</span></td>
				<td class="cabecalhoresultado"><span th:text="${funcionarioslista.observacoes}"></span></td>
				<td class="cabecalhoresultado"><span th:text="${funcionarioslista.posicao}"> </span></td>
				<td class="cabecalhoresultado"><span
					th:text="${funcionarioslista.TipoFuncionario.tipo_funcionario_nome}">
				</span></td>
				<td class="cabecalhoresultado"><span th:text="${funcionarioslista.cargo.nome_cargo}">
				</span></td>
				<td class="cabecalhoresultado"><span th:text="${funcionarioslista?.squad?.nome_squad}">
				</span></td>
				<td class="cabecalhoresultado"><span th:text="${funcionarioslista.cargo.nivel_cargo}">
				</span></td>
				<td class="cabecalhoresultado"><span th:text="${funcionarioslista.cargo.step_cargo}">
				</span></td>
				<td class="cabecalhoresultado"><span th:text="${funcionarioslista.empresa.nome_empresa}">
				</span></td>
				<td class="cabecalhoresultado"><span th:text="${funcionarioslista.cargo.valor_hora}">
				</span></td>
				<td class="cabecalhoresultado"><span th:text="${funcionarioslista.cargo.faturamento_cargo}"> </span></td>
				<td class="cabecalhoresultado"><a th:href="@{/funcionarios/alterar/{id}(id=${funcionarioslista.id_funcionario})}"><button>Alterar</button></a>
					
				<a th:href="@{/funcionarios/deletar/{id}(id=${funcionarioslista.id_funcionario})}"><button>Excluir</button></a></td>

			</tr>

		</table>


	</div>


</main>


</body>


</html>