<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Empresas</title>


</head>


<body>

	<div th:each="empresalista : ${Empresa}">


		<table border="1px">

			<tr>

				<td><div>
						ID Empresa:<span th:text="${empresalista.id_empresa}"> </span>
					</div>
					<div>
						Nome Empresa:<span th:text="${empresalista.nome_empresa}">
						</span>
					</div> <br></td>

				<td><a th:href="@{deletar/{id}(id=${empresalista.id_empresa})}"><button>Excluir</button></a>
				</td>
			</tr>

		</table>

	</div>
</body>


</html>