<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Cadastrar Contrato</title>

</head>


<body>

	<h1>Cadastro Contrato</h1>

	<form action="novoContrato" method="post">


		<label for="empresa">Nome Fornecedor/Empresa:</label> 
		<select name="empresa">
		<option th:each="empresaLista : ${Empresa}" th:value="${empresaLista.id_empresa}" th:text="${empresaLista.nome_empresa}" ></option>
		</select>
			
		<label for="tipo_contrato">Tipo Objeto:</label> 
		<select name="tipo_contrato"> 
		 <option th:each="tipo_contrato : ${T(br.com.funcionarios.enums.TipoContratosEnum).values()}" th:value="${tipo_contrato.getTipoContratoEnum()}" th:text="${tipo_contrato.getTipoContratoEnum()}"></option>
        </select>
		<br>
		
		<label for="tipo_acao">Tipo Ação:</label> 
		<select name="tipo_acao"> 
		 <option th:each="tipo_acao : ${T(br.com.funcionarios.enums.TipoAcaoEnum).values()}" th:value="${tipo_acao}" th:text="${tipo_acao}"></option>
        </select>
		<br>
		
		
		<label for="comentario">Comentario:</label> 
		<input type="text" id="comentario" name="comentario"><br> 
		
		<label for="numero_contrato">Numero do Contrato:</label> 
		<input type="text" id="numero_contrato" name="numero_contrato"><br> 
		
		<label for="numero_contrato_juridico">Numero do Contrato Juridico:</label> 
		<input type="text" id="numero_contrato_juridico" name="numero_contrato_juridico"><br> 
		
		
		<input	type="submit" value="Cadastrar">

	</form>

	<br>






	
	



</body>


</html>